# ===== PostgreSQL =====
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=db

# ===== Redis =====
REDIS_PASSWORD=redis_password

# Shared by Gateway, Identity and Notification services
INTERNAL_SERVICE_TOKEN=your_internal_service_token
