# ===== SERVER =====
PORT=8084
NATS_URL=nats://localhost:4222
IDENTITY_SERVICE_URL=http://localhost:8081
MEDIA_SERVICE_URL=http://localhost:8082
INTERNAL_SERVICE_TOKEN=your_internal_service_token
DB_SYNCHRONIZE=true

# ===== DATABASE (PostgreSQL) =====
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_db_password
DB_NAME=discussion_db
